.post-button, .button {
    padding: 0.4em 4em;
    margin: 0.6em;
    color: $secondary;
    background-color: $seventh;
    border: none;
    text-align: center;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: move-links2;
        animation-duration: 1s;
        animation-timing-function: linear;  
        animation-fill-mode: forwards;
    }
}

.button {
  width: 20em;
  height: 2em;
  margin-top: 2em;
  padding: 0.4em 0;
}

@keyframes move-links2 {
  0% {
    background-color: $fourth;
  }
  50% {
    background-color: $sixth;
  }
  100% {
    background-color: $seventh;
  }
}
